[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/By73/prezto.git
[submodule "vim-settings/vim/bundle/vim-colors-solarized"]
	path = env-settings/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-settings/vim/bundle/python-mode"]
	path = env-settings/vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "xorg/aw/lain"]
	path = xorg/aw/lain
	url = https://github.com/copycat-killer/lain.git
[submodule "env-settings/powerline"]
	path = env-settings/powerline
	url = https://github.com/Lokaltog/powerline.git
